<h1>gb</h1>
<div class="login">
<p>Sign In</p>
<form>
	Username: <input type="text" name="username">
	Password: <input type="password" name="password">
</form>

<p>- or -</p>

<a href="/signup">Sign Up</a>
</div>