<h1>gb</h1>
<div class="login">
<p>Sign Up</p>
<form method="POST">
	Username: <input type="text" name="username">
	Password: <input type="password" name="password">
	<input type="submit" name="" value="Register">
</form>
</div>